* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 25px 40px 0px 40px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo {
    width: 110px;
}

.blocnavheader {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    color: black;
}
.paddingmenu
{
    padding:10px;
}
.margin {
    margin-right: 55px;
}

.blocnavheader .menu :hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top: 35px;
}

.titreone {
    font-size: large;
}

.champ {
    border: 2px solid #f2f2f2;
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 20px 10px 30px 0;
}

.bold 
{
    font-weight: bold;
    padding:20px;
}

.recherche {
    display: flex;
    width: 230px;
    height: 50px;
    padding-left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.icon {
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
}

.bouton {
    height: 50px;
    width: 120px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
}

input {
    border: none;
    font-weight: bold;
}

.box:hover {
    cursor: pointer;
    color: #0065fc;
}

.iconinfo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border: 2px solid #f2f2f2;
    margin-right: 10px;
}
.filtres
{
    margin-right: 10px;
}

/*Corps*/
.navfiltres {
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    height: 50px;
    margin: 0px 10px 10px 0px;
}

.box div {
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.fa-solid {
    color: #0065fc;
}

.information {
    display: flex;
    align-items: center;
}

/*deuxieme section */
.h1hebergement {
    font-size: large;
    margin-left: 20px;
}

.horizon {
    display: flex;
    justify-content: space-evenly;
}

.blochebergement {
    background-color: #f2f2f2;
    position: absolute;
    border-radius: 20px;
    height: 535px;
    width: calc(60% - 40px);
}

.boxchambre {
    background-color: white;
    border: 2px solid #f2f2f2;
    width: 196px;
    margin: 15px;
    padding:0px 0px 10px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px grey;
    cursor: pointer;
}

.boxchambre:hover {
    color: #0065fc;
}

.visu {
    display: block;
    width: 100%;
    height: 100px;
    padding: 2px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.smalltitre,
.pmarseille,
.etoiles 
{
    font-size: small;
    margin: 5px 0px 0px 10px;
}
.position
{
    position: relative;
}

.etoilespop 
{
    font-size: small;
    margin-left: 10px;
    position:absolute;
    bottom:10px;
}

.gris {
    color: #f2f2f2;
}

.marginaffiche {
    margin: 30px 0px 0px 46px;
    font-weight: 900;
}

.h1populaires {
    font-size: large;
    margin-left: 25px;
}

.blocpopulaire {
    background-color: #f2f2f2;
    float: right;
    width: calc(40% - 40px);
    height: 535px;
    border-radius: 20px;
}

#blackicon {
    color: black;
    float: right;
    margin-right: 25px;
}

.boxpop {
    margin: 15px 20px 20px 20px;
}

.chambrepop {
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #f2f2f2;
    display: flex;
    height: 123px;
    margin: auto;
}
.chambrepop:hover
{
    color:#0065fc;
    cursor:pointer;
}
.visupop {
    width: 120px;
    height: 120px;
    padding: 1px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

/*3eme section*/
.inlinebloc {
    display: inline-block;
}

.h1activites {
    font-size: large;
    margin: 50px 0px 20px 10px;
}

.blocactivites {
    display: flex;
    margin-bottom: 60px;
}

.one,
.three {
    width: 25%;
    height: 375px;
    margin-right: 30px;
    box-shadow: 2px 5px 3px #f2f2f2;
    border-radius: 20px;
}

.two {
    width: 25%;
    height: 370px;
    margin-right: 30px;
}

.four {
    width: 25%;
    height: 370px;
}

.five {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 3px #f2f2f2;
    border-radius: 20px;
}

.six {
    width: 100%;
    height: 155px;
    box-shadow: 2px 5px 3px #f2f2f2;
    border-radius: 20px;
}

.seven {
    width: 100%;
    height: 160px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 3px #f2f2f2;
    border-radius: 20px;
}

.eight {
    width: 100%;
    height: 195px;
    box-shadow: 2px 5px 3px #f2f2f2;
    border-radius: 20px;
}

.photoone,
.photothree {
    width: 100%;
    height: 335px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.photofive {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.photosix
{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.photoseven {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.photoeight
{
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


/*Footer*/
footer {
    background-color: #f2f2f2;
    position: absolute;
    left: 0;
    right: 0;
}

.blocfooter {
    display: flex;
    justify-content: space-around;
}

.listfooter {
    list-style-type: none;
    font-size: small;
    padding-bottom: 5px;
}

.end {
    padding-left: 0;
}

.smalltitrefooter {
    font-size: small;
    padding-top: 30px;
}

#iconloupe {
    display: none;
}




/*Tablette*/
@media all and (min-width:768px) and (max-width:992px) 
{
    .imagine {
        display: flex;
        flex-direction: column;
    }

    .blochebergement {
        position: static;
        padding: 10px;
        height: auto;
        width: 100%
    }

    .blocpopulaire {
        float: none;
        width: 100%;
        height: auto;
        padding: 10px;
        margin-top: 10px;
    }

    #iconloupe {
        display: none;
    }
}


/*Portable*/
@media (max-width:768px) {
    body {
        margin: auto;

    }

    header {
        display: block;
    }

    .logo {
        display: block;
        margin: auto;
    }

    .blocnavheader .menu {
        border-top: none;
        width:50%;
        text-align:center;
        padding-bottom: 15px;
    }
    .menu
    {
        margin-right:0;
        border-bottom: 2px solid #f2f2f2;
    }
    .menu:hover
    {
        border-bottom: 3px solid #0065fc;
    }
    .paddingfooter
    {
        padding:20px
    }
    .titreone,
    .paragraphe {
        margin: 20px;
    }
    .champ {
        margin: 20px;
        width: 335px;
    }

    #iconloupe {
        color: white;
        display: inline;
    }

    .boutonrechercher {
        display: none;
    }

    .bouton {
        width: 55px;
        border-radius: 10px;
    }

    .navfiltres,
    .information {
        margin: 20px;
    }

    .sectionpophebergement {
        display: flex;
        flex-direction: column-reverse;
    }

    .blochebergement {
        position: static;
        width: 100%;
        height: auto;
        background-color: white;
    }

    .blocpopulaire {
        border-radius: initial;
        width: 100%;
        padding-top: 30px;
    }

    .horizon {
        flex-direction: column;
    }

    .boxchambre {
        width: 95%;
    }

    .h1hebergement {
        margin: 30px 0px 0px 15px;
    }

    .blocactivites {
        flex-direction: column;
        height: auto;
    }

    .marginaffiche,
    .h1activites {
        margin: 15px
    }

    .inlinebloc {
        display: block;
    }

    .one,
    .two,
    .three,
    .four {
        width: 95%;
        margin: 15px;
        height: auto;
        padding-bottom: 10px;
    }

    .photoone,
    .photofive,
    .photosix,
    .photothree,
    .photoseven,
    .photoeight {
        height: 110px;
    }

    .five,
    .seven {
        height: auto;
        margin-bottom: 25px;
        padding-bottom: 10px;
    }

    .six,
    .eight {
        height: auto;
        padding-bottom: 10px;
    }

    .blocfooter {
        display: block;
        margin: 15px;
    }

    .blocnavheader .menu a:hover {
        border-top: none;
    }

    .filtres {
        width: 100%;
        margin-left:10px;
    }
    .smalltitrefooter {
        margin-left:20px;
    }

}